/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Josefin+Sans&family=League+Spartan:wght@100&family=Merienda&family=Poppins:ital,wght@0,300;1,200&family=Rajdhani&family=Raleway:wght@200&family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Josefin+Sans&family=League+Spartan:wght@100&family=Merienda&family=Nunito:wght@300&family=Poppins:ital,wght@0,300;1,200&family=Rajdhani&family=Raleway:wght@200&family=Titillium+Web&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fbfafa;
  padding: 15px 100px;
  height: 13vh;
}

.logo > img {
  width: 7vw;
}

.navbar {
  display: flex;
}

.navbar li {
  position: relative;
}

.navbar a {
  font-size: 1.1rem;
  padding: 10px 20px;
  font-weight: 700;
  color: #3b3b3b;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -4px;
  left: 0;
  transition: 0.5s;
  background: #fe5b3d;
}

.navbar a:hover::after {
  width: 100%;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

.header-btn a {
  padding: 10px 20px;
  font-weight: 700;
  color: #3b3b3b;
  font-size: 1rem;
}

.header-btn > .sign-in {
  background: #474fa0;
  color: #fff;
  border-radius: 0.5rem;
}

.header-btn > .sign-in:hover {
  background-color: #fe5b3d;
}

.home {
  width: 100%;
  min-height: 108vh;
  position: relative;
  background: url(activa3.png);
  background-repeat: no-repeat;
  background-position: 10rem;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.text > h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-top: 6rem;
  margin-left: 2rem;
}
.text span {
  color: #ffa022;
}

.text p {
  margin: 0.5rem 0.1rem;
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 2rem;
}

.app-stores {
  display: flex;
}

.app-stores img {
  width: 152px;
  cursor: pointer;
  margin-left: 1.5rem;
  margin-right: -1rem;
}

.form-container > form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: -6.8rem;
  left: 23.5rem;
  background: #f7f0f0;
  padding: 20px;
  border-radius: 0.5rem;
}

.input-box {
  flex: 1 1 7rem;
  display: flex;
  flex-direction: column;
}

.input-box span {
  font-weight: 500;
}
.input-box input {
  padding: 7px;
  outline: none;
  background: #eeeff1;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.form-container > form > .btn {
  flex: 1 1 7rem;
  padding: 10px 34px;
  border: none;
  border-radius: 0.5rem;
  background: #474fa0;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 1.5rem;
  font-weight: 500;
}

.form-container > form > .btn:hover {
  background: #fe5b3d;
}

.ride {
  height: 50vh;
  background-color: #f0e9e9;
}

.heading {
  text-align: center;
  margin-top: 9rem;
}

.heading span {
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  font-size: 1.3rem;
}
.heading h1 {
  font-size: 2rem;
  color: black;
}

.ride-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 1rem;
  width: 80vw;
  margin-left: 8rem;
}

.ride-container .box {
  text-align: center;
  padding: 20px;
}

.ride-container .box .bx {
  font-size: 30px;
  padding: 10px;
  background: #eeeff1;
  border-radius: 0.5rem;
  color: #fe5b3d;
}

.ride-container .box h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.5rem 0 0.5rem;
}

.ride-container .box .bx:hover,
.ride-container .bx .bx-calendar-star {
  background: #ffa022;
  color: #fff;
  transition: all 0.5s linear;
}

.services {
  height: 200vh;
  background-color: #f4f3f3;
  margin-top: -5rem;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, auto));
  gap: 1rem;
  overflow-x: hidden;
  margin-left: -1rem;
  margin-top: 2rem;
}

.services-container .box {
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}

.services-container .box .box-img {
  width: 100%;
  margin-left: 2rem;
}

.services-container .box .box-img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
}

.services-container .box p {
  padding: 0 10px;
  border: 1px solid gray;
  width: 58px;
  border-radius: 0.5rem;
  margin: 1rem 0 1rem;
}

.services-container .box h3 {
  font-weight: 500;
}

.services-container .box h2 {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(238, 74, 74);
  margin: 0.2rem 0 0.5rem;
}

.services-container .box h2 span {
  font-size: 1.5rem;
  color: #ff9b08;
  font-weight: 700;
}

.services-container .box .btn {
  display: flex;
  justify-content: center;
  background: #474fa0;
  color: #fff;
  padding: 10px;
  border-radius: 0.5rem;
  width: 39%;
}

.services-container .box .btn:hover {
  background-color: #fe5b3d;
}
.about {
  height: 80vh;
  background-color: #f6f6f6;
  margin-top: -5rem;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.about-img img {
  width: 100%;
  margin-left: 5rem;
}
.about-text span {
  font-weight: 600;
  color: rgb(228, 62, 62);
  font-size: 1.4rem;
  margin-left: 5rem;
  text-transform: uppercase;
}

.about-text p {
  width: 78%;
  margin-left: 5rem;
  margin-bottom: 1rem;
}

.about-text a {
  margin-left: 5rem;
}

.about-text .btn {
  padding: 10px 14px;
  background: #474fa0;
  color: #fff;
  border-radius: 0.5rem;
}

.about-text .btn:hover {
  background-color: #fe5b3d;
}

.reviews {
  height: 75vh;
  background-color: #ececec;
  margin-top: -9rem;
}

.rev-img {
  width: 70px;
  height: 70px;
}
.rev-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid ghostwhite;
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.reviews-container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.reviews-container .box h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem 0 0.5rem;
}

.reviews-container .box p {
  font-style: italic;
  font-weight: 600;
}

.reviews-container .box .stars .bx {
  color: rgb(248, 59, 12);
}

.newsletter {
  height: 30vh;
  background: linear-gradient(to top right, #fe5b3d, #ffac38);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}
.newsletter h2 {
  color: #fff;
  font-size: 1.8rem;
}
.newsletter .box {
  margin-top: 1rem;
  background: #fff;
  border-radius: 0.5rem;
  padding: 4px 8px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.newsletter .box input {
  border: none;
  outline: none;
}
.newsletter .box .btn {
  background: #474fa0;
  color: #fff;
  padding: 8px 20px;
  border-radius: 0.5rem;
}

.newsletter .box .btn:hover {
  background-color: #fe5b3d;
  cursor: pointer;
}

.copyright {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright p {
  margin-left: 29rem;
}

.social a {
  color: #444;
  font-size: 24px;
  padding: 10px;
}

/* Contact Us */

.right {
  margin-top: 5rem;
  font-family: "Merienda", cursive;
}

.container1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 120px 100px;
  margin-top: 5rem;
}

.container1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(conimg.jpg) no-repeat center/cover;
  z-index: -1;
  filter: blur(50px);
}

.contact-box {
  max-width: 950px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  height: 73vh;
}
.left {
  height: 100%;
  background: url(conimg.jpg) no-repeat center/cover;
}

.right {
  padding: 25px 40px;
}

.head {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  height: 5vh;
  margin-top: -6.8rem;
  font-size: 1.3rem;
  font-family: "Merienda", cursive;
}

.head::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 2.5px;
  width: 100px;
  border-radius: 3px;
  background-color: #2ecc71;
}

.field {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.4s;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  background-color: #fff;
  border: 2px solid rgba(30, 85, 250, 0.47);
}
.area {
  min-height: 150px;
}

.button {
  width: 33%;
  padding: 0.3rem 1rem;
  font-size: 1.3rem;
  background-color: #2ecc71;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1rem;
  color: antiquewhite;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: -1rem;
  transition: 0.5s;
}

.button:hover {
  background-color: #474fa0;
}
/* ------------------------------>>>>>Making Responsive<<<<<<<<----------------------------------- */

@media (max-width: 420px) {
  html,
  body {
    width: 100%;
    height: 100%;
    overflow-x: 0;
    margin: 0;
    padding: 0;
  }
  .logo img {
    width: 34vw;
  }
  .home {
    background-position-x: 18rem;
    background-size: 64rem;
    background-position-y: 2rem;
    width: 318vw;
    background-color: #f7f7f7;
  }
  .form-container form {
    width: 324vw;
    bottom: -11.8rem;
    left: 0.5rem;
  }
  .form-container form .btn {
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 3px 37px;
    margin-top: 3rem;
  }
  .input-box span {
    font-size: 1.7rem;
  }
  .input-box input {
    font-size: 1.3rem;
  }
  .ride {
    margin-top: 16rem;
    height: 210vh;
    width: 318vw;
    padding: 4rem 23rem;
  }
  .ride-container .box h2 {
    font-size: 2.5rem;
    width: 124vw;
    margin-left: -6rem;
  }
  .ride-container .box .bx {
    font-size: 5rem;
  }
  .ride-container .box p {
    font-size: 1.7rem;
    width: 147vw;
    margin-left: -9rem;
  }
  .app-stores img {
    width: 106px;
  }

  .heading {
    margin-top: 6rem;
  }
  .heading span {
    margin-left: 3rem;
    font-size: 2rem;
  }
  .heading h1 {
    width: 125%;
    margin-left: -4rem;
    font-size: 2.5rem;
  }

  .services {
    margin-top: 5rem;
    height: 190vh;
    width: 320vw;
  }

  .about {
    margin-top: 43rem;
    width: 321vw;
    height: 188vh;
    padding: 1rem 7rem;
  }
  .about-text p {
    font-size: 1.5rem;
  }
  .about-text .btn {
    padding: 13px 14px;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  .about-img img {
    width: 104%;
    margin-left: 0rem;
    margin-top: -1rem;
  }
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .reviews {
    height: 70vh;
    margin-top: 5rem;
    width: 316vw;
  }
  .newsletter {
    width: 350vw;
    height: 36vh;
    margin-top: 4rem;
  }
  .copyright {
    margin-top: 2rem;
    text-align: center;
    margin-left: 12rem;
    margin-right: -8rem;
  }
  .copyright p {
    margin-left: -2rem;
    font-size: 2rem;
  }

  .social {
    margin-right: -25rem;
  }

  .social a {
    font-size: 36px;
  }
  #menu-icon {
    display: initial;
    font-size: 3rem;
  }
  header {
    padding-right: 11rem;
  }

  .sign-up {
    display: none;
  }

  header .navbar {
    position: absolute;
    top: -550px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: left;
    transition: 0.2s ease;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1rem;
    border-left: 2px solid #f35252;
    margin: 1rem;
    display: block;
  }
  .navbar a:hover {
    color: #fff;
    border: none;
    background: rgb(226, 113, 113);
  }
  .navbar a::after {
    display: none;
  }
  /* contact-box */

  .contact-box {
    width: 160vw;
    height: 86vh;
  }
  .container1 {
    width: 214%;
    height: 138vh;
  }
  .button {
    width: 42%;
  }
}
